.content-post-style {
  white-space: nowrap; /* Evita il wrap del testo su più righe */
  overflow: hidden; /* Nasconde eventuali contenuti oltre i limiti del div */
  text-overflow: ellipsis; /* Aggiunge le ellissi alla fine del testo nascosto */
}

.img-post {
  height: 15rem;
}

.postCard-style {
  width: 18rem;
}

.img-author-post {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.button-trash {
  background-color: transparent;
  border: transparent;
  color: black;
}

.button-trash:hover {
  background-color: black;
  color: white;
}
.button-link-details {
  background-color: transparent;
  color: blue;
}
